.contenedor-imagen {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

.contenedor-imagen img {
	width: 250px;
	max-height: 250px;
	height: auto;
}

.contenedor-comentarios {
	margin-top: 10px;
}

.lista-comentarios {
	list-style: none;
	padding: 0;
}

template {
	display: block;
}

/* li {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	padding: 20px;
} */

.delete {
	width: 30px;
	height: 20px;
	background: darkred;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 10px;
}
